body {
    background-image: url(back.png);
    background-repeat: repeat-x;
}

h1 {
    font-size: 350%;
    text-align: center;
    color: #ffffcc;
}
h2 {
    border-left-width: 30px;
    border-left-style: solid;
    border-left-color: #ffffff;
}

ul {
    line-height: 2em;
    list-style-type: square;
}
